
body{
    margin-left: 10px;
    margin-right: 10px;
}


header{
    background-image: url(image/iut_aix_marseille.png);
    background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
    header{
        background-image: none;
    }
}

header p, header h3{
    text-align: end;
    margin-top: 15px;
    
}

header p{
    font-size: 20px;
}

.badge{
    color: black;
}

#preview article{
    border: 1px solid ;
    border-radius: 30px;
    
}


.txt{
    margin-right: 20%;
    text-align: justify;
}
.sidebarIMG{
    width: 40%;
    
    float: right;
}

#pays{
    display: grid;
}

article img{
    border: 1px solid black;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
    
}

.right{
    float: right;
    margin-left: 52%;
}

.left{
    float: left;
    margin-right: 49%;
}


td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}