header{
    background-image: url(image/iut_aix_marseille.png);
    background-repeat: no-repeat;
}

header p, header h3{
    text-align: end;
    margin-top: 15px;
    
}

header p{
    font-size: 20px;
}

.badge{
    color: black;
}

div article{
    border: 1px solid;
    
}

